header,a,footer,li,ul,img,textarea,footer h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;

}
body{
  font-family:  'Open Sans', sans-serif;
  color: black;
  font-size: 16px;
  background-color: #fff;
  margin: 0 0;
}
body::-webkit-scrollbar {
          width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(51,51,51,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

p{
  color: grey;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: blanchedalmond;
}
a:hover{
  text-decoration: none;
  color: white;
}
.home-slider
{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.hometxt
{padding-top: 222px;padding-bottom: 200px;padding-left: 10px;display: inline-flex;text-align: center;}  
.hometxt .left-arrow button:hover
{
  color: white;
  background-color: dodgerblue;
}
.hometxt .right-arrow button:hover
{
  color: white;
  background-color: dodgerblue;
}

.hometxt .left-arrow button
{
  background: rgba(0,0,0,0.6);
  float: left;
  border-style: solid;
  font-size: 24px;
  border-width: 1px;
  padding: 6px 22px;
  border-color: white;
  color: white;
  border-radius: 50%;
  %: 0
}
.hometxt .right-arrow,.left-arrow{
  margin: 78px 0;
}
.hometxt .right-arrow button
{
  background: rgba(0,0,0,0.6);
  float: right;
  border-style: solid;
  border-color: white;
  padding: 6px 22px;
  border-radius: 50%;
  border-width: 1px;
  font-size: 24px;
  color: white;
}

.culture{
    padding: 100px 0;
}
.culture .desc{
}
.culture .desc img{}
.culture .desc p{
    color: grey;
    word-spacing: 4px;
    padding: 24px 0;
}
.line hr{
width: 198px;
border-bottom: 1px solid rgba(30, 144, 255, 0.49);
}
.portfolio {text-align: center;padding: 98px;padding-bottom: 30px;}
.portfolio h2{color: #333;font-weight: 100;margin: 20px 0;}
.portfolio p{
font-size: 17px;
color: #666;
}
#portfolio{
  margin-bottom: 74px;
}
#portfolio .col-md-3{
  overflow: hidden;
  padding: 0;
}
#portfolio .folio-item {
  position: relative;
  overflow: hidden;
  margin-top: 10px;
  padding: 10px;
  padding-bottom: 0;
}
#portfolio .overlay{background-color: #000;color: #fff;padding: 10px;margin: 10px 10px 0;left: 0;text-align: center;right: 0;position: absolute;height: 0;opacity: 0;bottom: -100%;-webkit-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;}
.overlay .overlay-content{height: 100%;width: 100%;display: table;}
.overlay .overlay-text{display: table-cell;vertical-align: middle;}
.overlay .folio-info {opacity: 0;margin-bottom: 75px;margin-top: -75px;-webkit-transition: all 1s ease-in-out;transition: all 1s ease-in-out;}
.overlay .folio-info h3{margin-top: 0;color: #fff;}
.folio-overview a {font-size: 18px;color: #333;height: 50px;width: 50px;line-height: 50px;border-radius: 50%;background-color: #fff;display: inline-block;margin-top: 20px;margin-right: 5px;}
.folio-overview a:hover{color: #fff;background-color: dodgerblue;}
.folio-overview .folio-expand {
  margin-top: -500px;
  margin-left: -500px;
}
.folio-img, .folio-overview .folio-expand {
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: all 0.8s ease-in-out;
  transition: all 0.8s ease-in-out;
}
#portfolio .folio-item :hover .folio-img{
  -webkit-transform: scale(1.5) rotate(-15deg);
  transform: scale(1.5) rotate(-15deg);
}
.folio-img img{height: 278px;}
#portfolio .folio-item:hover .overlay{opacity: 0.8;height: auto;bottom: 0;top: 0;}
#portfolio .folio-item:hover .overlay .folio-info{  
opacity: 1;
margin: 0;
}
.dance p{
    padding: 30px;
}
.dance a{
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 10px;
    border-radius: 10px;
}
.dance .dance-data{
    padding: 90px 0;
}
.dance .dance-img img{
    width: 108%;
}
.dance .dance-detail p{
    text-align: initial;
    padding: 10px 30px;
}
.dance .dance-detail h2{
    color: #333;
}
.dance .other-dance{
    padding: 30px 0;
}
.other-dance h2{
  padding-top: 22px;
}
.other-dance p{
  padding: 10px;
  text-align: left;
}
.music{
    padding: 30px 0;
}
.music img{
  width: 100%;
  padding: 24px;
}
.music .music-detail {}
.music .music-detail p{
    text-align: left;
    padding: 50px 14px;
}
.music .music-data{
    padding: 10px 0;
}
.dress {}
.dress .dress-data{
    padding: 22px 0;
}
.dress .dress-data .dress-img{}
.dress .dress-data .dress-img img{
    width: 100%;
    height: 400px;
}
.dress .dress-data figcaption{
    background-color: rgba(0,0,0,1);
    height: 220px;
    padding: 27px;
    text-align: left;
    color: rgba(255,255,255,0.5);
    text-transform: capitalize;
}
.food{padding: 40px 0;}
.food .food-data{
    padding: 60px 14px;
}
.food img{
    padding: 16px 0;
}
.food p{
  text-align: left;
}
.food .food-img{
  
}
.food .food-img img{
    width: 100%;
    height: 320px;
}
.food .food-img h3{color: white;padding: 6px;}
.food .food-img h4{
    color: rgba(158, 158, 158, 0.97);
    font-size: 16px;
}
.food .food-dish{
    background-color: rgba(0,0,0,0.8);
    padding: 12px;
    margin-top: -16px;
    border-top: 1px solid #FFC107;
}
.arts{
  padding: 20px 0;
}