body{
	font-family:  'Open Sans', sans-serif;
	color: black;
	font-size: 16px;
	background-color: #fff;
	margin: 0 0;
}
a{
	text-decoration: none;
	color: blanchedalmond;
}
a:hover{
	text-decoration: none;
	color: white;
}
header,a,footer,li,ul,img,textarea,footer h1,h2,h3,h4,h5,p{
  margin: 0;
  padding: 0;
}
*{
  box-sizing: border-box;

}
body::-webkit-scrollbar {
          width: 1em;
      }
       
      body::-webkit-scrollbar-track {
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      }
       
      body::-webkit-scrollbar-thumb {
          -webkit-border-radius: 10px;
          border-radius: 10px;
          background: rgba(51,51,51,0.8); 
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
      }

.card{
	margin-top: 20px;
	border:1px solid;
	border-color: #adadad;
	border-radius: 10px;
	padding: 10px;
}
.card:hover {
	box-shadow: 0px 0px 8px rgb(23, 183, 183);
}

img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.card-img-top{
	height: 300px;
}
.card-title{
	font-size: 26px;
}

.card-text {  
     height: 20px;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
}




.quick-links{
  background-color: rgba(0,0,0,0.7);
  color: white;
  border-radius: 6px;
  padding: 42px 76px;
  margin-top: 10px;
}
.quick-links .contact{

}
.quick-links .link-details{}
.quick-links .contact p{
padding: 10px 10px;
color: rgb(203,203,203);
}
.quick-links .contact p>span{
font-size: 16px;
color: rgb(203, 203, 203);
margin-right: 8px;
}
.quick-links .link-details ul>li{
list-style: none;
}
.quick-links .link-details ul{padding-top: 10px;}
.quick-links .link-details a{
color: rgb(203, 203, 203);
margin: 4px;
margin-left: -40px; 
font-size: 17px;
}
.quick-links .link-details a:before{
  color: gray;
  padding-right: 10px;
}
.quick-links .link-details a:hover{
  text-decoration: none;
}
.quick-links .news-letter p{
padding-top: 10px;
}
.quick-links .news-letter input{
margin-top: 6px;
color: black;
}
.quick-links .news-letter button{
  color: rgba(0, 0, 0,0.5);
  padding: 8px 20px;
  border-radius: 10px;
  margin: 10px 0;
  background-color: rgba(77, 251, 136, 0.75);
  text-transform: capitalize;
  font-weight: 700;
}

