header,a,footer,li,ul,img,textarea,footer h1,h2,h3,h4,h5,p{
	margin: 0;
	padding: 0;
}
*{
	box-sizing: border-box;

}
body{
	font-family:  'Open Sans', sans-serif;
	color: black;
	font-size: 16px;
	background-color: #fff;
	margin: 0 0;
}
a{
	text-decoration: none;
	color: blanchedalmond;
}
a:hover{
	text-decoration: none;
	color: white;

}
 .header-style a{
	/*color: white;*/
	font-size: 16px;

}
.header-style a:hover{
	text-decoration:none; 
	/*color: white;*/
}

#header {
  position: relative;
  /*background-color: #000;*/
  background-color: #31718f;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  height: 136px;
  top: 0;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
#header.container {
  background-color: #ffffff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 85px;
  position: relative;
}

.header-style{
	z-index: 1;
}


.header-style h1{font-size: 28px;width: 100%;padding: 20px 0;}
.header-style h1>a{
    color: white;
    font-size: 60px;
}
.header-style .header-menu{
	padding: 0;
}


.header-style .list ul{margin: 0;padding: 0;}
.header-style .list ul>li{display: inline-block;color: white;}
#hornav {
  /* font-family: Roboto Condensed; */
  position: relative;
  padding-top: 0px;
  padding-right: 0px;
  text-align: center;
  width: 100%;
}
#hornav .navbar-nav {
  float: none;
  margin-top: -2px;
}
#hornav ul {
  background-color: rgb(49, 160, 124);
  border-radius: 0 0 5px 5px;
  display: inline-block;
  margin-top: 0px;
  padding: 0 90px;
  /* text-align: center; */
  width: 100%;
}
#hornav ul > li {
  margin: 0px 5px;
}
#hornav ul > li > a,
#hornav ul > li > span {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 18px 20px;
  text-transform: uppercase;
  display: block;
}
#hornav ul > li > a:hover,
#hornav ul > li > span:hover,
#hornav ul > li > a:active,
#hornav ul > li > span:active,
#hornav ul > li > a.current,
#hornav ul > li > span.current {
  background: none;
}
/* Dropdown Menu */
#hornav ul ul {
  text-align: left;
  background: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #dddddd;
  position: relative;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: block;
  list-style: none;
  margin: 0px;
  padding: 5px 0 !important;
  min-width: 200px;
  z-index: 20;
}
#hornav ul ul li {
  min-height: 22px;
  float: none;
  position: relative;
  WIDTH: 100%;
  margin: 0;
}
#hornav ul ul li a,
#hornav ul ul li span {
  background-color: transparent;
  box-shadow: none;
  display: block;
  padding: 6px 15px;
  color: #555555 !important;
  text-transform: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
#hornav ul ul:before {
  background: transparent url('../img/menu_arrow.png') no-repeat 0 0;
  content: "";
  display: block;
  height: 10px;
  left: 21px;
  position: absolute;
  top: -10px;
  width: 14px;
}
#hornav ul ul li:first-child a {
  border: none;
}
#hornav ul ul li a:active,
#hornav ul ul li a:focus,
#hornav ul ul li a:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
}
#hornav ul ul li:hover a {
  text-decoration: none;
}
#hornav ul ul ul:before {
  display: none;
}
#hornav li ul,
#hornav li ul li ul {
  position: absolute;
  height: auto;
  min-width: 194px;
  opacity: 0;
  visibility: hidden;
  transition: all 240ms linear;
  -o-transition: all 240ms linear;
  -ms-transition: all 240ms linear;
  -moz-transition: all 240ms linear;
  -webkit-transition: all 240ms linear;
  top: 70px;
  z-index: 1000;
}
#hornav li:hover > ul,
#hornav li ul li:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
  top: 60px;
}
#hornav li ul li ul {
  left: 220px;
  top: 0;
}
#hornav li ul li:hover > ul {
  top: 0px;
  left: 200px;
}
#hornav ul ul .parent:after {
  top: 10px;
  right: 15px;
  color: #777;
  font-size: 14px;
  content: "\f105";
  position: absolute;
  font-weight: normal;
  display: inline-block;
  font-family: FontAwesome;
}
.desc {
  border: 1px solid #adadad;
  border-radius: 10px;
  padding: 10px;
  margin: 0;
  margin-top: 30px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,.2);
}
img {
  height: 250px;
  float: left;
  width: 400px;
  margin-right: 10px;
}
p{
  font-size: 20px;
    text-align: left;
}
p a{
  color: blue;
}